<% include head.ejs %>
  <title>Add a Country - Country</title>
  <h1>Add a new country</h1>
  <form action=/ method=post>
    <label>Title
      <input name=title>
    </label>
    <label>
      continent
      <input name=continent>
    </label>
    <label>
      country
      <textarea name=country rows=1></textarea>
    </label>
    <label>
      capital
      <textarea name=capital rows=1></textarea>
      <label>
        Description (long)
        <textarea name=description rows=2></textarea>

        <button>Add</button>
  </form>
  <%- include('tail.ejs') %>
