<%- include('head.ejs') %>
<h1>Add a new country</h1>
<form action=/ method=post>
    <fieldset>
    <label for="name">Name</label>
        <input name=name type="text">

<label for="continent">Continent</label>
    <input name=continent type="text">

<label for="country">Country</label>
    <input name=country type="text">  
    

<label for="capital">Capital</label>
    <input name=capital type="text"> 
    
<label for="description">Description</label>
    <input name=description type="text">
</fieldset>
    <button> Add</button>
</form>

<%- include('tail.ejs') %>
