<h1>Add a new country</h1>
<form action=/ method=post>
    <label>name
        <input name=name>
    </label>
    <label>
        continnet
        <input name=continent>
    </label>
    <label>
        capital
        <textarea name=capital></textarea>
    </label>
    <label>
        description
        <textarea name=description rows=5></textarea>
    </label>
    <button>Add</button>
</form>

